<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
   <html xmlns="http://www.w3.org/1999/xhtml">
   <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <title>Email</title>
   <style>
   	.text-verdana-black-normal-xxsmall {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: x-small;
		font-weight: normal;
		color: #000000;
		text-decoration: none;
	}
	.text-verdana-black-normal-xxxsmall {
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: xx-small;
		font-weight: normal;
		color: #000000;
		text-decoration: none;
	}
   </style>
   </head>
   <body>
   <table height="400" width="700" align="center" border="0" cellpadding="1" cellspacing="1">
   <tbody>
		<tr><td><img src="http://indomoportal:2010/images/_IM_logo.jpg" alt="" border="0" moz-do-not-send="true"/></td></tr>
		<tr><td valign="top" align="center">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tbody class="text-verdana-black-normal-xxsmall">
				<tr>
					<td>
						<p align="right"><strong>##Date##</strong></br></br></p>
						<p align="left"><strong>##Dear All##</strong></p>
						<p align="center"><strong>##Subject##</strong></br></br></p>
					</td>
				</tr>
				<tr><td>##Header##</br></td></tr>
				<tr>
					<td id="colatas" valign="top" align="left">
						<table width="100%" border="0" cellpadding="0" cellspacing="1" class="text-verdana-black-normal-xxsmall">
     					##Content##
						</table>
					</td>
				</tr>
				<tr><td></br>##Footer##</br></br></td></tr>
				<tr>
					<td id="colbawah" colspan="2" class="text-verdana-black-normal-xxxsmall">
						<p align="justify">
							Email ini dikirimkan sebagai bagian dari publikasi perusahaan kepada para karyawan PT. INDOMO MULIA. 
							Jika anda mempunyai pertanyaan ataupun komentar, anda dapat menghubungi <a moz-do-not-send="true" href="mailto:budi.astanto@modena.co.id">webmaster</a>. 
							Mohon untuk tidak memberikan balasan atas email ini.
						</p>
						<p align="justify">
							<strong>Note</strong> 
							: email ini   mungkin mengandung beberapa gambar (image) yang tidak dapat ditampilkan di email yang anda terima. 
							Hal ini diakibatkan oleh kebijakan pembatasan akses internet. 
							Namun Departemen MIS PT.INDOMO MULIA memastikan bahwa terjadinya hal tersebut tidak mempengaruhi topik informasi utama yang disampaikan melalui email ini.
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	  <br/></td></tr>
	<tr>
		<td class="text-verdana-black-normal-xxsmall">
			<img src="http://ibm236/corporate_intranet/modenaintranet/images/ver2/dot.gif" alt="" width="100%" height="1" moz-do-not-send	="true"/>
		</td>
	</tr>
	<tr>
		<td class="text-verdana-black-normal-xxsmall">
		kunjungi web<a moz-do-not-send="true" href="http://www.indomo.co.id"> PT. INDOMO MULIA</a> 
		| <a moz-do-not-send="true" href="http://mes:2011">Corporate Intranet PT. INDOMO MULIA</a>
		<br/>copyrights ©1981-2011 PT. INDOMO MULIA
		</td>
	</tr>
  </tbody>
</table>
</body>
</html>