<html><head>
<meta http-equiv="Content-Type" content="text/html; "><title>Pengajuan Proforma Invoice :: ##nomor##</title>
<link rel="important stylesheet" href="chrome://messagebody/skin/messageBody.css">
</head>
<body>

<title>Untitled Document</title>
<style type="text/css">
.submenu, .submenu:link, .submenu:visited { font-family: Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none; }
.submenu:hover { color: darkblue; text-decoration: none }
.content_small, .content_small:link, .content_small:visited { font-family: Verdana, Arial, Tahoma; font-size: 12px; color: #0066FF; text-decoration: none; }
.content_small:hover {
 font-family:Verdana, Arial, Tahoma;
 font-size: 12px;
 color: #FF6600;
 text-decoration: none;
}
.footer_small, .footer_small:link, .footer_small:visited { font-family: Verdana, Arial, Tahoma; font-size: 10px; color: #0066FF; text-decoration: none; }
.footer_small:hover {
 font-family: Verdana, Arial, Tahoma;
 font-size: 10px;
 color: #FF6600;
 text-decoration: none;
}

</style>
</head>

<body>
<table width="713px" border="0" cellpadding="1" cellspacing="1" align="center">
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="padding-left:5px; padding-right:8px"><table width="100%" border="0" cellpadding="1" cellspacing="1">
      <tr>
        <td bgcolor="#CCCCCC"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
          <tr>
            <td align="left"><table width="100%" border="0" cellspacing="0" cellpadding="20px" style="background-color:#F7941E; height:80px">
                <tr>
                  <td><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F7941E">
                      <tr>
                        <td align="left" valign="bottom" style="color:#FFFFFF; font-family: Verdana, Tahoma, Arial; font-size:12px; padding:0px; letter-spacing:1px; "><a href="http://www.modena.co.id/category-1--clearcompare.php" style="color:#FFFFFF; text-decoration:none"><strong>cooking</strong></a> | <a href="http://www.modena.co.id/category-2--clearcompare.php" style="color:#FFFFFF; text-decoration:none"><strong>cleaning</strong></a> | <a href="http://www.modena.co.id/category-3--clearcompare.php" style="color:#FFFFFF; text-decoration:none"><strong>cooling</strong></a> </td>
                        <td align="right" valign="bottom"><a href="http://www.modena.co.id"><img src="http://www.modena.co.id/newsletter/logo.jpg" width="168" height="42" border="0"></a></td>
                      </tr>
                  </table></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" style="padding-left:5px; padding-right:15px; padding-bottom:10px; padding-top:10px">
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				<tr>
					<td>
					<div align="justify" style="line-height:25px;padding:10px;font-family: Verdana, Tahoma, Arial; font-size:12px; color:#666666; ">
				
<table cellpadding="0" cellspacing="0" border="0" style="font-family:verdana, arial, tahoma; font-size:12px; line-height:25px" width="100%">
	<tr>
		<td>
		Berikut adalah pengajuan Proforma Invoice : ##nomor## ::.</td>
	</tr>
        <tr>
		<td>
		&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" style="font-family:verdana, arial, tahoma; font-size:12px; " width="100%">
                            <tr><td width="25%">Nama Sales</td><td width="5px"> : </td><td> ##nama##</td></tr>
                            <tr><td width="25%">Nomor Faktur</td><td width="5px"> : </td><td> ##nomor##</td></tr>
                            <tr><td align="left">Tanggal Faktur</td><td width="5px"> : </td><td> ##tanggal##</td></tr>
                            <tr><td align="left">Nomor PO</td><td width="5px"> : </td><td> ##nomor po##</td></tr>
                            <tr><td align="left">Pembeli</td><td> : </td><td> ##pembeli##</td></tr>
			</table>
		</td>
	</tr>
        <tr><td align="left">&nbsp;</td></tr>
	<tr>
		<td>
			<table width="100%" border="1" cellpadding="1" cellspacing="1" bgcolor="#FFFFFF" style="font-size:12px">
				<tr bgcolor="#EEEEEE"><td align="center">Model</td><td align="left">Deskripsi</td><td align="center">Harga/Unit</td><td align="center">Jumlah</td><td align="center">Total</td></tr>
				##isi##
				<tr><td align="right" colspan="4"><strong>Sub Total (Rp.)</strong></td><td align="right" id="col_grandtotal"><strong>##subTotal##</strong></td></tr>
				<tr><td align="right" colspan="4"><strong>Diskon (Rp.)</strong></td><td align="right" id="col_grandtotal"><strong>##diskon##</strong></td></tr>
				<tr><td align="right" colspan="4"><strong>DP (Rp.)</strong></td><td align="right" id="col_grandtotal"><strong>##DP##</strong></td></tr>
				<tr><td align="right" colspan="4"><strong>Total (Rp.)</strong></td><td align="right" id="col_grandtotal"><strong>##total##</strong></td></tr>
				<tr><td align="right" colspan="4"><strong>PPn (Rp.)</strong></td><td align="right" id="col_grandtotal"><strong>##ppn##</strong></td></tr>
				<tr><td align="right" colspan="4"><strong>Grand Total (Rp.)</strong></td><td align="right" id="col_grandtotal"><strong>##grandTotal##</strong></td></tr>

			</table>
		</td>
	</tr>
        <tr><td align="left">&nbsp;</td></tr>
	<tr>
		<td>
			
		</td>
	</tr>
        <tr><td align="left">&nbsp;</td></tr>
	<tr>
		<td>
			<table cellpadding="0" cellspacing="0" border="0" style="font-family:verdana, arial, tahoma; font-size:12px; line-height:25px" width="100%">
                            <tr><td width="49%" align="center"><strong><a href="##link##">##text##</a></strong></td></tr>			
			</table>
		</td>
	</tr>
</table>
					</div>
                     </td>
          		</tr>
	        </table>
			</td>
      </tr>
    </table></td>
  </tr>
<tr>
    <td colspan="2" align="left" style=" padding-top:15px; padding-bottom:15px">
   <table width="100%" cellpadding="0" cellspacing="0" border="0" style=" font-family: Verdana, Tahoma, Arial; font-size:11px; color:#000000; text-decoration: none;">
    		<tr>
    			<td align="justify" valign="bottom" style="line-height:40px">
				
				</td>
    		</tr>
    		<tr>
    		<td align="right" valign="bottom">
    			<table cellpadding="0" cellspacing="0" width="100%" style=" font-family: Verdana, Tahoma, Arial; font-size:10px; color:#000000; text-decoration: none;">
    				<tr>
    					<td align="left">Join us at :</td>
    					<td align="right"><a href="http://www.facebook.com/pages/Modena-Indonesia/178878438821055" class="footer_small" style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/modenaindonesia.jpg" border="0"></a></td>
    					<td align="right"><a href="http://www.facebook.com/pages/Modena-Cooking-Club/107634215943729" class="footer_small" style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/modenacookingclub.jpg" border="0"></a></td>
    					<td align="right"><a href="http://www.twitter.com/modenaindonesia" class="footer_small" style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/@modenaindonesia.jpg" border="0"></a></td>
    					<td align="right"><a href="http://community.modena.co.id" class="footer_small" style="font-size:8px"><img src="http://www.modena.co.id/newsletter/uploads/032011_2/communitymodenacoid.jpg" border="0"></a></td>
    				</tr>
    			</table>    			
   			  </td>    			
    		</tr>
    	</table>
    </td>
  </tr>
  <tr>
    <td colspan="2"><div align="justify" style="font-family: Verdana, Tahoma, Arial; font-size:10px; color:#000000;"></div></td>
  </tr>
  <tr>
    <td colspan="2" align="left" style=" font-family:  Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none;padding-bottom:20px; padding-top:20px"><img height="1" src="http://www.modena.co.id/newsletter/dot.gif" width="100%"></td>
  </tr>
  <tr>
    <td align="left">
    	<table width="100%" cellpadding="0" cellspacing="0" border="0" style=" font-family:  Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none;">
    		<tr><td align="left" style=" font-family:  Verdana, Arial, Tahoma; font-size: 10px; color: #FF6600; text-decoration: none;" valign="bottom">
		<a class="submenu" href="http://www.modena.co.id/privacy_policy.asp">privacy policy</a> | <a class="submenu" href="http://www.modena.co.id/">modena.co.id</a> <br>
    		copyrights©1981-2011 modena.co.id </td>
    		</tr>
    	</table>
    </td>	
  </tr>
</table>

</body>
</html>



